/* Estilos generales para el producto card */
.product-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto; /* Centra el contenedor en la pantalla */
  }
  
  /* Estilos para el contenedor de la imagen */
  .product-image {
    display: inline-flex;
    border: 2px solid black;
    border-radius: 10px;
    margin: 1px;
    padding: 1px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para la imagen */
  .product-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 1.5%; /* Elimina el espacio debajo de la imagen */
  }
  
  /* Estilos para los detalles del producto */
  .product-details {
    flex: 1; /* Permite que el div ocupe el espacio restante */
    margin-left: 10px; /* Ajusta el espacio entre la imagen y el texto */
  }
  
  
  