/* styles.css */

/* Estilos para el contenedor del encabezado */
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
   background-color: #e6e4e4; 
  color: #030303;
}




/* Estilos para el contenedor del menú de navegación */
/* styles.css */

/* Estilos para el contenedor del menú de navegación */
.navegador {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  
  color: #fff;
}
  /* Estilos para pantallas de 320x420px */
@media (max-width: 320px){
  .navegador {
    flex-direction: row;
    /* align-items: center; */
  }
}

/* Estilos para los botones de navegación */
.button-primary {
  padding: 10px 20px;
  margin: 5px;
  background-color: #e70000;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 14px; /* Nuevo tamaño de fuente para pantallas pequeñas */
}
  /* Estilos para pantallas de 320x420px */
@media (max-width: 320px) {
  .button-primary{
    margin: 2px; /* Ajusta el margen entre los botones */
  }
}

.button-primary:hover {
  background-color: #0a3961;
}

/* Estilos para el contenedor de los botones */
.button-container {
  display: flex;
}

/* Añadir espacio entre los botones */
.button-container .button-primary:not(:last-child) {
  margin-right: 10px;
}

/* Estilos para el contenedor principal del header */
.header-container {
  width: 100%;
  height: 300px; /* Altura deseada del header */
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.unsplash.com/photo-1644105637454-4943bc520c6a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1171&q=80");
  background-size: cover;
  background-position: center;
}

/* Estilos para el contenedor del logo */
.logo-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  /* border: 2px solid #3498db;  Color celeste para el borde */
  border-radius: 10px;
  display: flex;
  flex-direction: column; /* Mostrar los elementos en una columna */
  align-items: center; /* Centrar elementos horizontalmente */
  background-color: rgba(255, 255, 255, 0.8); /* Fondo transparente para el contenedor */
}

/* Estilos para el texto del logo */
.logo-container h1 {
  color: #333; /* Color del texto del logo */
  font-size: 24px;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra suave para mejorar la legibilidad */
}
